Applications/
Code/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

.psql_history
.zsh_history
.mysql_history
.zcompdump-*
.CFUserTextEncoding
.Trash/

.asdf/
.cache/
.bundle/cache/
.config/iterm2/
.config/karabiner/automatic_backups/
.docker/
.fzf.bash
.fzf.zsh
.gem/
.gnupg/
.hammerspoon/Spoons/
.hasura/
.local/
.netrc
.node-gyp/
.npm/
.oh-my-zsh/
.p10k.zsh
.ssh/
.viminfo
.vscode/
.yarnrc
.zsh_sessions/
.config/htop/
.webdrivers/geckodriver
