Applications/
Code/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

.psql_history
.zsh_history
.mysql_history
.zcompdump-*
.CFUserTextEncoding
.Trash/

.asdf/
.cache/
.bundle/cache/
.config/iterm2/
.config/karabiner/automatic_backups/
.docker/
.fzf.bash
.fzf.zsh
.gem/
.gnupg/
.hammerspoon/Spoons/
.hasura/
.local/
.netrc
.node-gyp/
.npm/
.oh-my-zsh/
.ssh/
.viminfo
.vscode/
.yarnrc
.zsh_sessions/
.config/htop/
.webdrivers/geckodriver
.solargraph/cache
.rbenv/shims
.rbenv/versions/
.bash_history
.rubies/
.android/
.cocoapods/
.dartServer/
.gradle/
.pub-cache/
.dart/
.flutter-devtools
src/
history.txt
.flutter
.emulator_console_auth_token
.cups/lpoptions
.config/flutter/tool_state
.config/flutter/custom_devices.json
.config/configstore/update-notifier-npm.json
.android/analytics.settings
.python_history
StudioProjects/
Developer/flutter
nltk_data/tokenizers
.irb_history
Standard Notes Backups/
Developer/flutter
.webdrivers

# Local Netlify folder
.netlify
.config/configstore/update-notifier-netlify-cli.json
Google Drive
.config/yarn/global
.pgadmin/
.lesshst
.config/configstore/
.config/configstore/
Developer/appbrewery
Developer/github
Developer/temp_tutorials
.lesshst
.nuuid.ini
.quokka
.rest-client
.yarn/
.swiftpm/cache
.swiftpm/config
Developer/vim_notes/.vim.custom
Developer/vim_notes/*.txt
today.verse
.android/analytics.settings
.config/configstore/update-notifier-npm.json
.config/SmartSetMaster (Mac)/reg.xml
.swiftpm/configuration
.config/gh/hosts.yml
